# Listen interface.
listen_addr: 0.0.0.0:8000

# Base path of Registry UI.
uri_base_path: /

# Background tasks.
performance:
  # Catalog list page size. It depends from the underlying storage performance.
  catalog_page_size: 100

  # Catalog (repo list) refresh interval in minutes.
  # If set to 0 it will never refresh but will run once.
  catalog_refresh_interval: 10

  # Tags counting refresh interval in minutes.
  # If set to 0 it will never run. This is fast operation.
  tags_count_refresh_interval: 60

# Registry endpoint and authentication.
registry:
  # Registry hostname (without protocol but may include port).
  hostname: docker-registry.local

  # Registry credentials.
  # They need to have a full access to the registry.
  # If token authentication service is enabled, it will be auto-discovered and those credentials
  # will be used to obtain access tokens.
  username: user
  password: pass
  # Set password to '' in order to read it from the file below. Otherwise, it is ignored.
  password_file: /run/secrets/registry_password_file

  # Alternatively, you can do auth with Keychain, useful for local development.
  # When enabled the above credentials will not be used.
  auth_with_keychain: false

# UI access management.
access_control:
  # Whether users can the event log. Otherwise, only admins listed below.
  anyone_can_view_events: true
  # Whether users can delete tags. Otherwise, only admins listed below.
  anyone_can_delete_tags: false
  # The list of users to do everything.
  # User identifier should be set via X-WEBAUTH-USER header from your proxy
  # because registry UI itself does not employ any auth.
  admins: []

# Event listener configuration.
event_listener:
  # The same token should be configured on Docker registry as Authorization Bearer token.
  bearer_token: xxx
  # Retention of records to keep.
  retention_days: 7

  # Event listener storage.
  database_driver: sqlite3
  database_location: data/registry_events.db
  # database_driver: mysql
  # database_location: user:password@tcp(localhost:3306)/docker_events

  # You can disable event deletion on some hosts when you are running registry UI on MySQL master-master or
  # cluster setup to avoid deadlocks or replication breaks.
  deletion_enabled: true

# Options for tag purging.
purge_tags:
  # How many days to keep tags but also keep the minimal count provided no matter how old.
  keep_days: 90
  keep_count: 10

  # Keep tags matching regexp no matter how old, e.g. '^latest$'
  # Empty string disables this feature.
  keep_regexp: ''

  # Keep tags listed in the file no matter how old.
  # File format is JSON: {"repo1": ["tag1", "tag2"], "repoX": ["tagX"]}
  # Empty string disables this feature.
  keep_from_file: ''

# Debug mode.
debug:
  # Affects only templates.
  templates: false
