{{extends "base.html"}}

{{block head()}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 10,
            "order": [[ 4, 'desc' ]],
            "stateSave": true,
            "language": {
                "emptyTable": "No events."
            }
        });
    });
</script>
{{end}}

{{block body()}}
<ol class="breadcrumb">
    <li class="active">Event Log</li>
</ol>

{{if eventsAllowed}}
<table id="datatable" class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Action</th>
            <th>Image</th>
            <th>IP Address</th>
            <th>User</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{range e := events}}
            <tr>
                <td>{{ e.Action }}</td>
                {{if hasPrefix(e.Tag,"sha256") }}
                <td title="{{ e.Tag }}">{{ e.Repository }}@{{ e.Tag[:19] }}...</td>
                {{else}}
                <td>{{ e.Repository }}:{{ e.Tag }}</td>
                {{end}}
                <td>{{ e.IP }}</td>
                <td>{{ e.User }}</td>
                <td>{{ e.Created|pretty_time }}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{else}}
<div class="text-center">
    <h4>User "{{user}}" is not permitted to view the Event Log.</h4>
</div>
{{end}}
{{end}}
