{{extends "base.html"}}

{{block head()}}
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 25,
            "stateSave": true
        });
        $('#namespace').on('change', function (e) {
            window.location = '{{ base_path }}/' + this.value;
        });
        namespace = window.location.pathname;
        namespace = namespace.replace("{{ base_path }}", "");
        if (namespace == '/') {
            namespace = 'library';
        } else {
            namespace = namespace.split('/')[1]
        }
        $('#namespace').val(namespace);
    });
</script>
{{end}}

{{block body()}}
<div style="float: right">
    <select id="namespace" class="form-control input-sm" style="height: 36px">
        {{range namespace := namespaces}}
        <option value="{{ namespace }}">{{ namespace }}</option>
        {{end}}
    </select>
</div>
<div style="float: right">
    <ol class="breadcrumb">
        <li class="active">Namespace</li>
    </ol>
</div>

<ol class="breadcrumb">
    <li><a href="{{ base_path }}/">Home</a></li>
</ol>

<table id="datatable" class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Repository</th>
            <th width="20%">Tags</th>
        </tr>
    </thead>
    <tbody>
        {{range repo := repos}}
            <tr>
                <td><a href="{{ base_path }}/{{ namespace }}/{{ repo|url_encoded_path }}">{{ repo }}</a></td>
                <td>{{ tagCounts[namespace+"/"+repo] }}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}
