{{extends "base.html"}}

{{block head()}}{{end}}

{{block body()}}
<ol class="breadcrumb">
    <li><a href="{{ basePath }}/">{{ registryHost }}</a></li>
    {{if namespace != "library"}}
    <li><a href="{{ basePath }}/{{ namespace }}">{{ namespace }}</a></li>
    {{end}}
    <li><a href="{{ basePath }}/{{ namespace }}/{{ repo }}">{{ repo|url_decode }}</a></li>
    <li class="active">{{ tag }}</li>
</ol>
<table class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th colspan="2">Image Details</th>
        </tr>
    </thead>
    <tr>
        <td width="20%">Image</td><td>{{ registryHost }}/{{ repoPath }}:{{ tag }}</td>
    </tr>
    {{if not isListOnly}}
    <tr>
        <td>sha256</td><td>{{ sha256 }}</td>
    </tr>
    {{if not isDigest}}
    <tr>
        <td>Created On</td><td>{{ created|pretty_time }}</td>
    </tr>
    {{end}}
    <tr>
        <td>Image Size</td><td>{{ imageSize|pretty_size }}</td>
    </tr>
    <tr>
        <td>Layer Count</td><td>{{ layersCount }}</td>
    </tr>
    {{end}}
</table>

{{if digests}}
<h4>Manifest List v2</h4>
{{range index, manifest := digests}}
<table class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th colspan="2">Manifest #{{ index+1 }}</th>
        </tr>
    </thead>
    {{range key := manifest["ordered_keys"]}}
    <tr>
        <td width="20%">{{ key }}</td>
        {{if key == "platform" || key == "annotations"}}
        <td style="padding: 0">
            <table class="table table-bordered" style="padding: 0; width: 100%; margin-bottom: 0; min-height: 37px">
                <!-- Nested range does not work. Iterating via filter over the map. -->
                {{ manifest[key]|parse_map|raw }}
            </table>
        </td>
        {{else if key == "size"}}
        <td>{{ manifest[key]|pretty_size }}</td>
        {{else if key == "digest"}}
        {{if not isListOnly}}
        <td><a href='{{ basePath }}/{{ namespace }}/{{ repo }}/{{ manifest["digest"] }}'>{{ manifest["digest"] }}</a></td>
        {{else}}
        <td>{{ manifest["digest"] }}</td>
        {{end}}
        {{else}}
        <td>{{ manifest[key] }}</td>
        {{end}}
    </tr>
    {{end}}
</table>
{{end}}
{{else if layersV2}}
<h4>Manifest v2</h4>
<table class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Layer #</th>
            <th>Digest</th>
            <th>Size</th>
        </tr>
    </thead>
{{range index, layer := layersV2}}
    <tr>
        <td>{{ len(layersV2)-index }}</td>
        <td>{{ layer["digest"] }}</td>
        <td>{{ layer["size"]|pretty_size }}</td>
    </tr>
{{end}}
</table>
{{end}}

{{if not isListOnly && not isDigest}}
<h4>Manifest v1</h4>
{{range index, layer := layersV1}}
<table class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th colspan="2">Layer #{{ len(layersV1)-index }}</th>
        </tr>
    </thead>
    {{range key := layer["ordered_keys"]}}
    <tr>
        <td width="20%">{{ key }}</td>
        {{if key == "config" || key == "container_config"}}
        <td style="padding: 0">
            <table class="table table-bordered" style="padding: 0; width: 100%; margin-bottom: 0; min-height: 37px">
                <!-- Nested range does not work. Iterating via filter over the map. -->
                {{ layer[key]|parse_map|raw }}
            </table>
        </td>
        {{else if key == "created"}}
        <td>{{ layer[key]|pretty_time }}</td>
        {{else}}
        <td>{{ layer[key] }}</td>
        {{end}}
    </tr>
    {{end}}
</table>
{{end}}
{{end}}

{{end}}
