{{extends "base.html"}}

{{block head()}}
<script type="text/javascript" src="{{ basePath }}/static/bootstrap-confirmation.min.js"></script>
<script type="text/javascript" src="{{ basePath }}/static/sorting_natural.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').DataTable({
            "pageLength": 10,
            "order": [[ 0, 'desc' ]],
            "stateSave": true,
            columnDefs: [
              { type: 'natural', targets: 0 }
            ],
            "language": {
                "emptyTable": "No tags in this repository."
            }
        })
        function populateConfirmation()  {
            $('[data-toggle=confirmation]').confirmation({
                rootSelector: '[data-toggle=confirmation]',
                container: 'body'
            });
        }
        populateConfirmation()
        $('#datatable').on('draw.dt', populateConfirmation)


    });
</script>
{{end}}

{{block body()}}
<ol class="breadcrumb">
    <li><a href="{{ basePath }}/">{{ registryHost }}</a></li>
    {{if namespace != "library"}}
    <li><a href="{{ basePath }}/{{ namespace }}">{{ namespace }}</a></li>
    {{end}}
    <li class="active">{{ repo|url_decode }}</li>
</ol>

<table id="datatable" class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Tag Name</th>
        </tr>
    </thead>
    <tbody>
        {{range tag := tags}}
        <tr>
            <td>
                <a href="{{ basePath }}/{{ namespace }}/{{ repo }}/{{ tag }}">{{ tag }}</a>
                {{if deleteAllowed}}
                <a href="{{ basePath }}/{{ namespace }}/{{ repo }}/{{ tag }}/delete" data-toggle="confirmation" class="btn btn-danger btn-xs pull-right" role="button">Delete</a>
                {{end}}
            </td>
        </tr>
        {{end}}
    </tbody>
</table>

{{if eventsAllowed}}
<h4>Latest events on this repo</h4>
<table id="datatable_log" class="table table-striped table-bordered">
    <thead bgcolor="#ddd">
        <tr>
            <th>Action</th>
            <th>Image</th>
            <th>IP Address</th>
            <th>User</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{range e := events}}
            <tr>
                <td>{{ e.Action }}</td>
                {{if hasPrefix(e.Tag,"sha256") }}
                <td title="{{ e.Tag }}">{{ e.Repository }}@{{ e.Tag[:19] }}...</td>
                {{else}}
                <td>{{ e.Repository }}:{{ e.Tag }}</td>
                {{end}}
                <td>{{ e.IP }}</td>
                <td>{{ e.User }}</td>
                <td>{{ e.Created|pretty_time }}</td>
            </tr>
        {{end}}
    </tbody>
</table>
{{end}}

{{end}}
